<html>
<head>
  <title>PeerJS - Video chat example</title>
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
  <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.8/jquery.min.js"></script>
  <!-- <script src="http://cdn.peerjs.com/0.3/peer.js"></script> -->
  <script type="text/javascript" src="/scripts/peer.js"></script>
  <script>

    // Compatibility shim
    navigator.getUserMedia = navigator.getUserMedia || navigator.webkitGetUserMedia || navigator.mozGetUserMedia;

    // PeerJS object
    var peer = new Peer({ key: '6mwupj8rl1aqyqfr', debug: 3});

    peer.on('open', function(){
      $('#my-id').text(peer.id);
    });

    // Receiving a call
    peer.on('call', function(call){
      // Answer the call automatically (instead of prompting user) for demo purposes
      call.answer(window.localStream);
      step3(call);
    });
    peer.on('error', function(err){
      //alert(err.message);
      // Return to step 2 if error occurs
      //step2();
    });

    // Click handlers setup
    $(function(){
      $('#make-call').click(function(){
        // Initiate a call!
        var call = peer.call($('#callto-id').val(), window.localStream);

        step3(call);
      });

      $('#end-call').click(function(){
        window.existingCall.close();
        step2();
      });

      // Retry if getUserMedia fails
      $('#step1-retry').click(function(){
        $('#step1-error').hide();
        step1();
      });

      // Get things started
      step1();
    });

    function step1 () {
      // Get audio/video stream
      navigator.getUserMedia({audio: true, video: true}, function(stream){
        // Set your video displays
        $('#my-video').prop('src', URL.createObjectURL(stream));

        window.localStream = stream;
        step2();
      }, function(){ $('#step1-error').show(); });
    }

    function step2 () {
      $('#step1, #step3').hide();
      $('#step2').show();
    }

    function step3 (call) {
      // Hang up on an existing call if present
      if (window.existingCall) {
        window.existingCall.close();
      }

      // Wait for stream on the call, then set peer video display
      call.on('stream', function(stream){
        $('#their-video').prop('src', URL.createObjectURL(stream));
      });

      // UI stuff
      window.existingCall = call;
      $('#their-id').text(call.peer);
      call.on('close', step2);
      $('#step1, #step2').hide();
      $('#step3').show();
    }

    function volumeOnClick() {
		var video = document.getElementById('their-video');
		var button = document.getElementById('volumeButton');
		
		if(video.muted) {
			video.muted = false;
			button.className = "btn btn-primary btn-lg";
		} else {
			video.muted = true;
			button.className = "btn btn-danger btn-lg";
		}
	}

	function videoOnClick() {
		var style = document.getElementById('my-video').style;
		var button = document.getElementById('videoButton');
		if(style.display == '' || style.display == 'inline') {
			style.display = 'none';	
			button.className = "btn btn-danger btn-lg";
		} else {
			style.display = 'inline';
			button.className = "btn btn-primary btn-lg";
		}
	}

  </script>

  <style>
		#buttonPanel {
			position: absolute;
			bottom: 20px;
			left: 20px;
		}

		#logoffButton {
			position: absolute;
			top: 20px;
			right: 20px;
		}

		#my-video {
		  position: absolute;
		  right: 20px;
		  bottom: 20px;
		  width: 200px;
		  transform: scaleX(-1);
		}
		
		#their-video {
		  position: fixed;
		  top: 0; left: 0; bottom: 0; right: 0;
		  height: 100%; width: 100%;
		  z-index: -100;
		  background-size: cover;
		}
	</style>


</head>

<body>

  <div class="pure-g">

      <!-- Video area -->
      <div class="pure-u-2-3" id="video-container">
        <video id="their-video" autoplay></video>
        <video id="my-video" muted="true" autoplay></video>
      </div>

      <div id="buttonPanel">
	    <button id="volumeButton" class="btn btn-primary btn-lg" role="button" onClick="volumeOnClick()">
	        	<span class="glyphicon glyphicon-volume-up"></span>
	    </button>

	    <button id="videoButton" class="btn btn-primary btn-lg" role="button" onClick="videoOnClick()">
	        	<span class="glyphicon glyphicon-film"></span>
	    </button>
	  </div>
	  <a id='logoffButton' href='/logout' class="btn btn-danger btn-lg">
		<span class="glyphicon glyphicon-off"></span>
	  </a>

      <!-- Steps -->
      <div class="pure-u-1-3">

        <!-- Get local audio/video stream -->
        <div id="step1">
          <p>Please click `allow` on the top of the screen so we can access your webcam and microphone for calls.</p>
          <div id="step1-error">
            <p>Failed to access the webcam and microphone. Make sure to run this demo on an http server and click allow when asked for permission by the browser.</p>
            <button id="step1-retry" class="btn btn-primary btn-lg" role="button">
	        	<span class="glyphicon glyphicon-refresh"></span>
	    </button>
          </div>
        </div>

        <!-- Make calls to others -->
        <div id="step2">
          <h3>Your id: <span id="my-id">...</span></h3>
          <p>Share this id with others so they can call you.</p>
          <div class="pure-form">
            <input type="text" placeholder="Call user id..." id="callto-id">
            <button id="make-call" class="btn btn-primary btn-lg" role="button">
	        	<span class="glyphicon glyphicon-earphone"></span>
	    </button>
          </div>
        </div>

        <!-- Call in progress -->
        <div id="step3">
          <p>Currently in call with <span id="their-id">...</span></p>
          <button id="end-call" class="btn btn-primary btn-lg" role="button">
	        	<span class="glyphicon glyphicon-remove-sign"></span>
	    </button>
        </div>
      </div>
  </div>


</body>
</html>
